<!---Top Image-->
      <div class="jumbotron text-center">
      <div class="position-center">
      <h1>ALL FOR ITD STUDENTS</h1>
      <p>This website is for sharing information about ITD</p>
    </div>
    </div>

  <!--New Posts-->
  <div id="new-post" class="container">
  <div class="row">
  <section class="col-md-10 col-md-offset-1">
    <h2 class="text-center">New Posts</h2>
    <!--Each Posts-->
    <div class="post-box">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'sample.jpg', class: "media-object img-rounded", alt: "face" %>
        </a>
      </div>
      <div class="media-body">
        <h3><a href="#">How can i make my student's card?</a></h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        <span>Comments </span>
        <span> | </span>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span>2016.3.13.12:45</span>
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'sample.jpg', class: "media-object img-rounded", alt: "face" %>
        </a>
      </div>
      <div class="media-body">
        <h3><a href="#">How can i make my student's card?</a></h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        <span>Comments </span>
        <span> | </span>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span>2016.3.13.12:45</span>
      </div>
    </div>

    </div><!--/post-box-->

    <nav class="center">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidsden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </section><!--/new-post-->
  </div><!--/row-->
  </div><!--/container-->

  <!--School Information-->
  <section id="school-information">
    <h2 class="text-center">School Information</h2>
    <div class="clearfix">
      <div class="each-information">
      <div class="each-box">
        <h3>ITD Life</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting.Lorem Ipsum is simply dummy text of the printing and typesetting</p>
      <button type="button" class="btn btn-default navbar-btn">More Detail <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
      <div class="clear"></div>
      </div>
      </div>
      <div class="each-information">
        <h3>ITD Life</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting.Lorem Ipsum is simply dummy text of the printing and typesetting</p>
      <button type="button" class="btn btn-default navbar-btn">More Detail <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
      <div class="clear"></div>
      </div>
      </div>
  </section>
  

  <!--Courses-->
  <section id="courses">
  <div class="container">
  <div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2 class="text-center">Courses</h2>
    <div class="row">
    <div class="each-course col-md-4 text-center">
      <p><a href="#"><%= image_tag 'icon.png', alt: 'IT', width: '100px', height: '100px' %></a></p>
      <h3><a href="#">IT</a></h3>
      <p>Lorem Ipsum is simply dummy text of the printing</p>
    </div>
    <div class="each-course col-md-4 text-center">
      <p><a href="#"><%= image_tag 'icon.png', alt: 'IT', width: '100px', height: '100px' %></a></p>
      <h3><a href="#">IT</a></h3>
      <p>Lorem Ipsum is simply dummy text of the printing</p>
    </div>
    <div class="each-course col-md-4 text-center">
      <p><a href="#"><%= image_tag 'icon.png', alt: 'IT', width: '100px', height: '100px' %></a></p>
      <h3><a href="#">IT</a></h3>
      <p>Lorem Ipsum is simply dummy text of the printing</p>
    </div>
    </div><!--/row-->


    <div class="row">
    <div class="each-course col-md-4 text-center">
      <p><a href="#"><%= image_tag 'icon.png', alt: 'IT', width: '100px', height: '100px' %></a></p>
      <h3><a href="#">IT</a></h3>
      <p>Lorem Ipsum is simply dummy text of the printing</p>
    </div>
    <div class="each-course col-md-4 text-center">
      <p><a href="#"><%= image_tag 'icon.png', alt: 'IT', width: '100px', height: '100px' %></a></p>
      <h3><a href="#">IT</a></h3>
      <p>Lorem Ipsum is simply dummy text of the printing</p>
    </div>
    </div><!--/row-->
  </div>
  </div><!--/row-->
  </div><!--/container-->
  </section>

  <section id="projects">
  <div class="container">
    <h2 class="text-center">Your Projects</h2>
    <div class="row">
    <div class="each-project col-md-4 text-center">
      <p><a href="#"><%= image_tag 'sample.jpg', alt: "IT", class: "img-responsive" %></a></p>
      <h3 class="title">Ikuto Portfolio</h3>
      <p class="name">Ikuto Itoko</p>
      <p class="description">Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</p>
      <button type="button" class="btn btn-default navbar-btn">More Detail</button>
    </div>
    <div class="each-project col-md-4 text-center">
      <p><a href="#"><%= image_tag 'sample.jpg', alt: "IT", class: "img-responsive" %></a></p>
      <h3 class="title">Ikuto Portfolio</h3>
      <p class="name">Ikuto Itoko</p>
      <p class="description">Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</p>
      <button type="button" class="btn btn-default navbar-btn">More Detail</button>
    </div>
    <div class="each-project col-md-4 text-center">
      <p><a href="#"><%= image_tag 'sample.jpg', alt: "IT", class: "img-responsive" %></a></p>
      <h3 class="title">Ikuto Portfolio</h3>
      <p class="name">Ikuto Itoko</p>
      <p class="description">Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</p>
      <button type="button" class="btn btn-default navbar-btn">More Detail</button>
    </div>
    <div class="each-project col-md-4 text-center">
      <p><a href="#"><%= image_tag 'sample.jpg', alt: "IT", class: "img-responsive" %></a></p>
      <h3 class="title">Ikuto Portfolio</h3>
      <p class="name">Ikuto Itoko</p>
      <p class="description">Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</p>
      <button type="button" class="btn btn-default navbar-btn">More Detail</button>
    </div>
    <div class="each-project col-md-4 text-center">
      <p><a href="#"><%= image_tag 'sample.jpg', alt: "IT", class: "img-responsive" %></a></p>
      <h3 class="title">Ikuto Portfolio</h3>
      <p class="name">Ikuto Itoko</p>
      <p class="description">Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</p>
      <button type="button" class="btn btn-default navbar-btn">More Detail</button>
    </div>
    <div class="each-project col-md-4 text-center">
      <p><a href="#"><%= image_tag 'sample.jpg', alt: "IT", class: "img-responsive" %></a></p>
      <h3 class="title">Ikuto Portfolio</h3>
      <p class="name">Ikuto Itoko</p>
      <p class="description">Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</p>
      <button type="button" class="btn btn-default navbar-btn">More Detail</button>
    </div>
    </div><!--/row-->

    <nav>
      <ul class="pager">
        <li><a href="#">&lt; Previous</a></li>
        <li><a href="#">Next &gt;</a></li>
      </ul>
    </nav>
  </div><!--/container-->
  </section>